deepspeed==0.15.1
nvidia-cublas-cu12==12.8.3.14
nvidia-cuda-cupti-cu12==12.8.57
nvidia-cuda-nvrtc-cu12==12.8.61
nvidia-cuda-runtime-cu12==12.8.57
nvidia-cudnn-cu12==9.7.1.26
nvidia-cufft-cu12==11.3.3.41
nvidia-cufile-cu12==1.13.0.11
nvidia-curand-cu12==10.3.9.55
nvidia-cusolver-cu12==11.7.2.55
nvidia-cusparse-cu12==12.5.7.53
nvidia-cusparselt-cu12==0.6.3
nvidia-ml-py==13.590.44
nvidia-modelopt==0.29.0
nvidia-modelopt-core==0.29.0
nvidia-nccl-cu12==2.26.2
nvidia-nvjitlink-cu12==12.8.61
nvidia-nvshmem-cu12==3.3.20
nvidia-nvtx-cu12==12.8.55
onnxruntime-gpu==1.18.0
tensorrt==10.10.0.31
tensorrt-cu12==10.10.0.31
tensorrt-cu12-bindings==10.10.0.31
tensorrt-cu12-libs==10.10.0.31
tensorrt-llm==0.20.0
torch==2.7.0+cu128
torchaudio==2.7.0+cu128
torchcodec==0.5+cu128
torchmetrics==1.8.2
torchprofile==0.0.4
torchvision==0.22.0
triton==3.3.0